# r created files
*.rproj
*.rproj.user
*.rhistory
*.ruserdata
*.history
*.rdata
#*.rds

.lintr
.luarc.json
license 

# image/output files unless otherwise specified

*.docx
*.doc
*.jpg
*.gif

# folders
.obsidian/*
.quarto/*
_freeze/*
.vscode/*
rsconnect/*
_extensions/*
site_libs/*
#Misc/md_copy* 
#Prompts/*
#Misc/scratch/*
data/model_cache/old/





# misc knit files
*.aux
*.gz
*.log
*.rdx
*.rdb
*.knit.md
#*cache
*.results
*open_interpreter*


# other
*.httr-oauth
*.ds_store
/.quarto/
/.luarc.json
.Rproj.user

# specific file keep
!readme.md
!/original....pdf



# ignore everything that is more than 1 level deep in the _working directory, dont' ignore the files in the _working directory itself
_working/*/*




# ignore items in model_cache that are larger than 15mb
# find . -size +30M | cat
# find Data/model_cache -size +18M | cat
Data/model_cache/abc_group200k_narrow201_37_48.rds
Data/model_cache/abc_group200k_09_04_27.rds
Data/model_cache/abc_group100k_06_39_17.rds
Data/model_cache/e1_testDistVbBT_RF3_ML3.rds
Data/model_cache/e3_extrap_testDistBand.rds
Data/model_cache/abc_group500k_06_17_54.rds
Data/model_cache/old/gauss_t_vbCondit_dist_mr2.rds
Data/model_cache/old/e1_probitVx_9.rds
Data/model_cache/old/e1_testDistRF2_0.rds
Data/model_cache/old/e1_testDistVbBT_RF3_ML3.rds
Data/model_cache/old/e1_testDistRF2.rds
Data/model_cache/old/gauss_t_vb_pCondit0_vx_ml1.rds
Data/model_cache/old/e1_train_expo3_conditBanditSdist.rds
Data/model_cache/old/e1_testDistBT_RF.rds
Data/model_cache/old/mn_model1.rds
Data/model_cache/old/e1_testConditVb_Dist_Gr.rds
Data/model_cache/e3_extrap_testVxBand.rds
Data/model_cache/abc_group100k_03_32_46.rds
Data/model_cache/abc_group300k_wider22_23_50.rds
Data/model_cache/e1_testVxBT_RF4_2_ML4.rds
Data/model_cache/abc_group200k_extraNarrow01_17_15.rds
Data/model_cache/abc_group500k_wide_mr2_15_46_57.rds
Data/model_cache/abc_group_200k_23_54_29.rds
Data/model_cache/abc_group200k_narrow302_01_21.rds