 /* h1, h2, h3 {color: #0A7FB2;} */
 
 
h1, h2, h3 {color: #0A7FB2;} 
 
/*
#title-block-header {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -1px;
  height: 75px;
}

.quarto-title-banner {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -10px;
  height: 85%;
}
 */
 
 
div.highlight-box {
  border-color: #11111;
  border-style: solid;
  padding: 0.5em;
}
div.highlight-box strong {
  color: #0A7FB2;
}

.mbox {
  margin-top: 2em !important;
  margin-bottom: 0.75em;
  border-color: #11111;
  border-style: solid;
  padding: 0.5em;
}

.box {
  background-color: lightpink;
  font-weight: bold;

}


.pbStyle {
  text-align: center;
  color: black;
  font-size: larger;

}

.pbCL {
  text-align: center;
  /*position: sticky;
  /*left: 55%; /*https://css-tricks.com/almanac/properties/t/top-right-bottom-left/ */
  
}

.pbCR {
  text-align: center;
 /* position: sticky;
  /*left: 56%; */
  
}



/* */
.spoiler {
  /* */
  visibility: hidden;
 
}

.spoiler::before {
  visibility: visible;
  content: "Spoiler alert! Hover me to see the answer."
  /*content: "Spoiler alert! Hover me to see the answer." */
}

.spoiler:hover {
  visibility: visible;
  opactity:0.9;
}

.spoiler:hover::before {
  /* */
 display: none;
}


.csl-entry {
	--indent: 1.5em;
	text-indent: calc(var(--indent) * -1);
	padding: 0.5em 0 0.5em var(--indent);
}


